
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Work+Sans:wght@700&display=swap');
  body{
    font-family: 'Work Sans', sans-serif;

  }
*{
    margin: 0;
    padding: 0;
}
/*navigation-style*/
.header{
    background-color: antiquewhite;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 55px ;
}
.navigation{
    display: flex;
    justify-content: center;
}
.nav-title{
    font-size: 40px;
    font-weight: 700px;
}
.nav{
    display: flex;
    list-style-type: none;
}
.nav li a{
    color: #424242;
    padding: 10px 25px;
    font-size: smaller;
    text-decoration: none;
}

nav ul li a:hover{
    color: #ea1538;
    border: 1px solid #ea1538;
    transition: .3s;

}

/*banner-style*/
.banner-section{
    display: flex;
    justify-content: center;
    margin-top: 102px;
}
.banner{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-title{
    font-size: 64px;
    font-weight: 700px;
    justify-content: center;
}
.banner-description{
    color: grey;
    font-size: 16px;
    padding: 32px;
}
.button-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-primary {
    color: #ffffff;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: 600px;
    margin-top: 14px;
    padding: 20px 25px;
}
.btn-primary:hover{
    border: 2px solid blue;
    transition: .1s;
}
.image{
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 50px;
    margin-bottom:45px;
}
/*main-style*/
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 73px;
}
.main-title{
    font-size: 45px;
    width: 468px;
    height: 106px;
}
.main-description{
    font-size: 16px;
    width: 537px;
    height: 78px;
    color: #727272;
}
.main-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 85px;
    margin-left: 301px;
    margin-right: 73px;
    gap: 24px;
}
.main-section{
    margin-top: 287px;
    margin-right: 301px;
}
.btn-primary-2{
    margin-top: 32px;
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    color:#FFFFFF;
    padding: 21px,20px;
    border-radius: 8px;
    border: none;
}
.btn-primary-2:hover{
    border: 2px solid blue;
    transition: .1s
}
/*main-2-style*/
.main-2{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 359.08px;
}
.container-3{
    margin-top: 169px;
}
.main-2-title{
    width: 468px;
    height: 106px;
    font-size: 45px;
    font-weight: 700px;
    margin-top: 169px;
    margin-right: 146px;
    margin-left: 266px;
    gap: 24px;
    color: #131313;
}
.main-2-description{
    width: 586px;
    height: 78px;
    font-size: 16px;
    color: #727272;
    margin-left: 240px;
    margin-right: 54px;
    margin-bottom: 30px;
}
.main-2-title-next{
    width: 252px;
    height: 23px;
    font-size: 20px;
    color: #131313;
}
.main-2-description-next{
    width: 514px;
    height: 78px;
    font-size: 16px;
    color: #727272;
}
.for-background{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}
.for-background-2{
    box-shadow: rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}
.for-background-3{
    box-shadow: rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}
.for-background-4{
    box-shadow: rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}